{% extends "_layout.html.twig" %}


{% block topbar %}
    {{ include('/backend/user_topbar.html.twig') }}
{% endblock %}

{% block body %}
    <div class="card m-1">
        <div class="card-header">
            <div class="w-100">
                <i class="fas fa-users mr-3 fa-2x"></i>My GROUPS
            </div>

        </div>
        <div class="card-body p-0">
            <div class="w-100">
                <a href="index.php?action=creategroup">
                    <button type="button" class="btn btn-primary btn-sm m-1">Create Groupe</button>
                </a>
            </div>

            <table id="dtBasicExample" class="table table-striped table-bordered table-sm m-0 " cellspacing="0"
                   width="100%">

                <thead>
                <tr>
                    <th class="th-sm">Group Id
                    </th>
                    <th class="th-sm">Group Name
                    </th>
                    <th class="th-sm">Group Description
                    </th>
                    <th class="th-sm">Creation Date
                    </th>
                    <th class="th-sm align-items-end">
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for group in mygroups %}
                    <tr>
                        <td class="table_text_overflow_ellipsis">
                            <span class="badge badge-info">{{ group.getId() }}</span>
                            <img class="img-profile rounded-circle avatar" style="width: 25px; height: 25px;"
                                 src="upload_files/{{ profile.photo_filename }}"
                                 alt=""/>
                        </td>
                        <td class="table_text_overflow_ellipsis"><b> {{ group.getGroupName() }} </b></td>
                        <td class="table_text_overflow_ellipsis"><b> {{ group.getGroupDescription() }} </b></td>
                        <td class="table_text_overflow_ellipsis">  {{ group.getCreationDate() }} </td>
                        <td class="table_text_overflow_ellipsis">
                            <a class="mr-2" href="index.php?action=groupdetails&id={{ group.getId() }}">Details</a>
                            <a class="mr-2" href="index.php?action=groupmembers&groupid={{ group.getId() }}">Members
                                <sup><span class="badge badge-info">{{ group.totalmembers }}</span></sup></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Group Id
                    </th>
                    <th class="th-sm">Group Name
                    </th>
                    <th class="th-sm">Group Description
                    </th>
                    <th class="th-sm">Creation Date
                    </th>
                    <th class="th-sm">
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
{% endblock %}