{% extends "_layout.html.twig" %}


{% block topbar %}
    {{ include('/backend/user_topbar.html.twig') }}
{% endblock %}

{% block body %}
    <!-- INTERVENTIONS -->
    <div class="card m-1">
        <div class="card-header">
            <div class="w-100">
                <i class="fas fa-fw fa-wrench  mr-3 fa-2x"></i>SHARED INTERVENTIONS
            </div>
        </div>
        <div class="card-body p-0">

            <table id="dtBasicExample" class="table table-striped table-bordered table-sm m-0" cellspacing="0"
                   width="100%">

                <thead>
                <tr>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Intervention Date
                    </th>
                    <th class="th-sm">Intervention Description
                    </th>
                    <th class="th-sm">Author
                    </th>
                    <th class="th-sm">Author Company
                    </th>
                    <th class="th-sm">Author Country
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for intervention in results %}
                    <tr>
                        <td class="table_text_overflow_ellipsis"> <i class="fas fa-fw fa-wrench"></i> {{ intervention.id }}</td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.intervention_date }}</td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.intervention_description }}</td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.intervention_author_id }}</td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.intervention_author_company }} </td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.intervention_author_country }} </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Intervention Date
                    </th>
                    <th class="th-sm">Intervention Description
                    </th>
                    <th class="th-sm">Author
                    </th>
                    <th class="th-sm">Author Description
                    </th>
                    <th class="th-sm">Author Country
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}