{% extends "_layout.html.twig" %}


{% block topbar %}
    {{ include('/backend/user_topbar.html.twig') }}
{% endblock %}

{% block body %}

    <!-- TICKET DETAILS-->
    <div class="card m-1">
        <div class="card-header">
            <div class="w-100">

                    <i class="fas fa-ticket-alt fa-2x mr-3"></i>TICKET DETAILS #{{ ticketdetails.id }}
                    <!-- BUTTON CLOSE THIS GROUP -->
                    <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
                            data-target="#confirm-close">
                        Close Ticket
                    </button>
                    <div class="modal fade" id="confirm-close" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Closing Ticket: <span class=""><h6>#{{ ticketdetails.id }} - {{ ticketdetails.title }}</h6></span>
                                </div>
                                <div class="modal-body">
                                    Are you sure ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <a href="index.php?action=closeticketfunction&ticketid={{ ticketdetails.id }}"
                                       class="btn btn-danger btn-ok">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <div class="card-body p-0">
            <br>

            <table class="mr-3 ml-3 col-md-6">
                <tbody>
                <tr>
                    <td class="table_text_overflow_ellipsis">Group Id:</td>
                    <td class="table_text_overflow_ellipsis"><a
                                href="index.php?action=groupdetails&id={{ groupdetails.getId() }}">{{ groupdetails.getId() }}</a>
                    </td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis"> Group Name:</td>
                    <td class="table_text_overflow_ellipsis">{{ groupdetails.getGroupName }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis"> Group Admin Id:</td>
                    <td class="table_text_overflow_ellipsis"> {{ groupdetails.GroupAdminId() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis">Status:</td>
                    <td class="table_text_overflow_ellipsis">{{ groupdetails.getGroupStatus() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis">Creation Date:</td>
                    <td class="table_text_overflow_ellipsis">{{ groupdetails.getCreationDate() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis">Description:</td>
                    <td class="table_text_overflow_ellipsis">{{ groupdetails.getGroupDescription() }}</td>
                </tr>
                </tbody>
            </table>

            <br>

            <table class="mr-3 ml-3 col-md-6">
                <tbody>
                <tr>
                    <td class="table_text_overflow_ellipsis">Ticket Id:</td>
                    <td class="table_text_overflow_ellipsis">{{ ticketdetails.getId() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis"> Ticket Title:</td>
                    <td class="table_text_overflow_ellipsis">{{ ticketdetails.getTitle() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis"> Ticket Author:</td>
                    <td class="table_text_overflow_ellipsis"> {{ ticketdetails.getAuthorId() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis">Ticket Status:</td>
                    <td class="table_text_overflow_ellipsis">{{ ticketdetails.getStatus() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis">Creation Date:</td>
                    <td class="table_text_overflow_ellipsis">{{ ticketdetails.getCreation_date() }}</td>
                </tr>
                <tr>
                    <td class="table_text_overflow_ellipsis">Description:</td>
                    <td class="table_text_overflow_ellipsis">{{ ticketdetails.getDescription() }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <!-- INTERVENTIONS -->
    <div class="card m-1">
        <div class="card-header">
            <div class="w-100">
                TICKET INTERVENTIONS
            </div>
        </div>
        <div class="card-body p-0">
            <div class="w-100">

                <a href="index.php?action=createintervention&ticketid={{ ticketdetails.getId() }}">

                    <button type="button" class="btn btn-primary btn-sm m-1">Create Intervention</button>

                </a>
            </div>
            <br>

            <table id="dtBasicExample" class="table table-striped table-bordered table-sm m-0" cellspacing="0"
                   width="100%">

                <thead>
                <tr>
                    <th class="th-sm">Author
                    </th>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Intervention Date
                    </th>
                    <th class="th-sm">Intervention Description
                    </th>

                    <th class="th-sm">Author Company
                    </th>
                    <th class="th-sm">Author Country
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for intervention in interventionresults %}
                    <tr>
                        <td class="table_text_overflow_ellipsis"><img class="img-profile rounded-circle shadow border"
                                                                      style="width: 30px; height: 30px;"
                                                                      src="upload_files/{{ intervention.photo_filename }}"
                                                                      alt="avatar"/> {{ intervention.email }}
                        </td>
                        <td class="table_text_overflow_ellipsis"><i
                                    class="fas fa-wrench mr-3"></i> {{ intervention.getId() }}</td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.getIntervention_date() }}</td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.getIntervention_description() }}</td>

                        <td class="table_text_overflow_ellipsis">  {{ intervention.getIntervention_author_company() }} </td>
                        <td class="table_text_overflow_ellipsis">  {{ intervention.getIntervention_author_country() }} </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Author
                    </th>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Intervention Date
                    </th>
                    <th class="th-sm">Intervention Description
                    </th>

                    <th class="th-sm">Author Description
                    </th>
                    <th class="th-sm">Author Country
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}